<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>MemberProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertMemberServlet</display-name>
    <servlet-name>InsertMemberServlet</servlet-name>
    <servlet-class>servlet.InsertMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMemberServlet</servlet-name>
    <url-pattern>/InsertMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberServlet</display-name>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>servlet.DeleteMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/DeleteMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMemberViewServlet</display-name>
    <servlet-name>UpdateMemberViewServlet</servlet-name>
    <servlet-class>servlet.UpdateMemberViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMemberViewServlet</servlet-name>
    <url-pattern>/UpdateMemberViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMemberServlet</display-name>
    <servlet-name>UpdateMemberServlet</servlet-name>
    <servlet-class>servlet.UpdateMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMemberServlet</servlet-name>
    <url-pattern>/UpdateMemberServlet</url-pattern>
  </servlet-mapping>
</web-app>