<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>MemberProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllMemberAjaxServlet</display-name>
    <servlet-name>SelectAllMemberAjaxServlet</servlet-name>
    <servlet-class>servlet.SelectAllMemberAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllMemberAjaxServlet</servlet-name>
    <url-pattern>/SelectAllMemberAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletAjaxServlet</display-name>
    <servlet-name>DeletAjaxServlet</servlet-name>
    <servlet-class>servlet.DeletAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletAjaxServlet</servlet-name>
    <url-pattern>/DeletAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberAjaxServlet</display-name>
    <servlet-name>DeleteMemberAjaxServlet</servlet-name>
    <servlet-class>servlet.DeleteMemberAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberAjaxServlet</servlet-name>
    <url-pattern>/DeleteMemberAjaxServlet</url-pattern>
  </servlet-mapping>
</web-app>