<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
 	<!-- BoardDTO에 해당하는 resultMap -->
 	<resultMap type="dto.BoardDTO" id="board">
 		<id column="BOARD_NO" property="boardNo" />
 		<result column="BOARD_TITLE" property="boardTitle"/>
 		<result column="BOARD_MEMBER_ID" property="boardMemberId"/>
 		<result column="BOARD_MEMBER_NICK" property="boardMemberNick"/>
 		<result column="BOARD_CONTENT" property="boardContent"/>
 		<result column="BOARD_WRITE_DATE" property="boardWriteDate"/>
 		<result column="BOARD_COUNT" property="boardCount"/>
 		<result column="BOARD_CONTENT_LIKE" property="boardLike"/>
 		<result column="BOARD_CONTENT_HATE" property="boardHate"/>
 	</resultMap>
 	
 	<!-- 전체 게시글 조회하는 SQL문 작성  -->
	<select id="selectBoardList" resultMap="board">
		select * from board_view 
	</select>
	<select id="selectBoard" parameterType="int" resultMap="board">
		select * from board_view where board_no = #{bno}
	</select>
	
	<insert id="insertBoard" parameterType="dto.BoardDTO">
		insert into board(board_no, board_title, board_content, board_member_id)
		values(board_seq.nextval,#{boardTitle},#{boardContent},#{boardMemberId})
	</insert>
	
	<update id="updateBoard" parameterType="dto.BoardDTO">
		update board set board_title = #{boardTitle}, board_content = #{boardContent}
		where board_no = #{boardNo}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where board_no = #{bno}
	</delete>
	
	<insert id="insertBoardLike" parameterType="map">
		insert into board_content_like values(#{id},#{bno})
	</insert>
	<delete id="deleteBoardLike" parameterType="map">
		delete from board_content_like where board_member_id = #{id} and board_no = #{bno}
	</delete>
	<select id="selectBoardLikeCount" parameterType="int">
		select count(*) from board_content_like where board_no = #{bno}
	</select>
	<insert id="insertBoardHate" parameterType="map">
		insert into board_content_hate values(#{id},#{bno})
	</insert>
	<delete id="deleteBoardHate" parameterType="map">
		delete from board_content_hate where board_member_id = #{id} and board_no = #{bno}
	</delete>
	<select id="selectBoardHateCount" parameterType="int">
		select count(*) from board_content_hate where board_no = #{bno}
	</select>
	<select id="selectBoardNewList" parameterType="map" resultMap="board">
		SELECT * FROM
		(SELECT CEIL(ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) / #{pageContentCount}) AS PAGE_NO,
		B.* FROM BOARD_VIEW B) WHERE PAGE_NO = #{pageNo}
	</select>
	<select id="selectBoardTotalCount">
		SELECT COUNT(*) FROM BOARD_VIEW
	</select>
</mapper>









